@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    max-width: 1440px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: #f4f8ff;
    margin: auto;
    
}


.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 100px;
    /* background-color: rgb(23, 148, 106); */
    padding-top: 40px;
}

.container button:hover{
    cursor: pointer;
}

.container .top-container{
    background: linear-gradient(175deg, #f4f8ff 5%, #e4f2ff 80%, #f4f8ff 30%);
    height: 650px;
    width: 100%;
}

.container .top-container nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu ul{
    display: flex;
    gap: 40px;
}

.menu ul li{
    list-style: none;
    font-size: 12px;
    font-weight:600;
}

.menu button{
    padding: 6px 20px;
    font-size: 10px;
    font-family: 500;
    color: #aa82e3;
    border: 1px solid #aa82e3;
    border-radius:10px;
    font-weight: 600;
}


/* hero-section */

.content{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 80px;
    gap: 30px;
}

.content .content-left{
    position: relative;
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.content-left .release{
  background-color:#f7f1ff;
  width: 50%;
  height: 18px;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  align-items: center;
  border: none;
}

.content-left .release span{
color:#9c6ce0;
font-size: 12px;
font-weight: 600;
}

.content-left .release span:nth-child(3){
    text-decoration: underline;
}

.content-left .release-head p{
   font-size: 40px;
   font-weight: 600;

}

.content-left .release-para{
    font-size: 12px;
    color:rgb(144, 165, 186);
}

.content-left .release-btn button{
   
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 15px;
    border: none;
    font-weight: 500;

}

.content-left .release-btn button:first-child{
    background-color: #722ed1;
    color: white;
}

.content-left .release-btn button:nth-child(2){
    color: #722ed1;
}


/* qubly container */


.qubly-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 100px 0px;

}


.qubly-container .qubly-top{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f0ff;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 15px;
    gap: 10px;
    color: #722ed1;

}

.qubly-container .qubly-head{
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0px;
}

.qubly-container .qubly-para{
    color: #9ba1a1;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    font-weight: 500;
    margin-bottom: 10px;
}


.qubly-container .qubly-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.qubly-container .qubly-boxes div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qubly-container .qubly-boxes .first-box-up p{
   font-weight: 700;
   color: black;
   text-transform: capitalize;
   font-size: 12px;
   margin-top: 8px;
}

.qubly-container .qubly-boxes .first-box-down{
    margin-top: 10px;
    line-height: 18px;
    font-weight: 500;
    font-size: 11px;
    color: #758283;
    
}

.qubly-container .qubly-boxes .second-box-up p {
    font-weight: 700;
   font-size: 12px;
    color: black;
    text-transform: capitalize;
    margin-top: 8px;
}

.qubly-container .qubly-boxes .second-box-down {
    margin-top: 10px;
    line-height: 18px;
    font-weight: 500;
    font-size: 11px;
    color: #758283;

}



.qubly-container .qubly-boxes .third-box-up p {
    font-weight: 700;
    font-size: 12px;
    color: black;
    text-transform: capitalize;
    margin-top: 8px;
}

.qubly-container .qubly-boxes .third-box-down {
    margin-top: 10px;
    line-height: 18px;
    font-weight: 500;
    font-size: 11px;
    color: #758283;

}



/* best stack */


.stack{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 70px;
}


.stack .stack-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.stack-right .right-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color:#f8effd;
    width: 160px;
    font-size: 11px;
    color: #9966de;
    padding:5px 8px;
    font-weight:700;
    border-radius: 20px;
}

.stack-right .right-head p{
    font-size: 22px;
    font-weight: 600;
}


.stack-right .right-para p{
    font-size: 11px;
    color: #9ba1a1;
    font-weight: 500;
}


/* Data driven */


.Data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
    margin-left: 150px;
}


.Data .Data-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.Data-left .left-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #f8effd;
    width: 190px;
    font-size: 11px;
    color: #9966de;
    padding: 5px 8px;
    font-weight: 700;
    border-radius: 20px;

}

.Data-left .left-head p {
    font-size: 22px;
    font-weight: 600;
}


.Data-left .left-para p {
    font-size: 11px;
    color: #9ba1a1;
    font-weight: 500;
}

/* cto section */


.cto{
    background: linear-gradient(175deg, #f4f8ff 5%, #e4f2ff 80%, #f4f8ff 30%);
    height: 500px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 100px;
}

.cto .cto-head{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.cto .cto-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    font-weight: 600;
}

.cto .line{
    border: 1px solid #e5e1eb;
    width: 800px;
}

.cto .logos{
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 60px;
}

/* signup section */

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 170px;
}

.signup .sign-left{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.signup .sign-left .sign-left-head p{
    font-size: 20px;
    font-weight: 800;
    text-transform: capitalize;
    margin-left: 6px;
}

.signup .sign-left .sign-line{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 10px;
    color: #758283;
    font-weight: 500;
}

.signup .sign-left .sign-line .line1,.line2{
   border: 1px solid rgb(218, 226, 235);
   width: 100px;
}

.signup .sign-left .logo1 , .logo2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}


/* sign right */
.signup .sign-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  border-radius: 5px;
  border: 1px solid rgb(228, 233, 239);
  align-items: center;
  padding: 10px 30px;
  box-shadow:  1px 40px 2px 10px #e8d4f5; ;
  
}

.signup .sign-right p:first-child{
    text-align: center;
    font-weight: 900;
}





.signup .sign-right button:nth-child(2) {
    background-color: #722ed1;
    color:white ;
    text-align: center;
    border-radius: 5px;

}

.signup .sign-right button{
    padding: 10px 8px;
    font-size: 11px;
    color: #9ba6a7;
    font-weight: 500;
    border: 1px solid rgb(199, 213, 227);
    background-color: white;
    text-align: left;
    width: 250px;
}



.signup .sign-right .or {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

.signup .sign-right .google{
    text-align: center;
}

.signup .sign-right .google p{
    text-align: center;
    font-size: 10px;
    color:#758283 ;
    
}


.signup .sign-right .google span{
    color: #722ed1;
    font-weight: 600;
    margin-left: 4px;
}

.signup .sign-right .google .google-line{
    width: 300px;
    border:1px solid #d9e6e7;
    margin: 10px 0px;
}

/* footer */

footer{
    display: flex;
    justify-content: center;
    gap:30px;
    margin-left: 120px;
    margin-bottom: 100px;
}

footer .footer-first{
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 8px;
    font-weight: 600;
    color: #758283;
}


footer .footer-first .icons{
    display: flex;
    gap: 10px;
}

footer .footer-product, .Dev ,.Company , .support{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 9px;
    font-weight: 500;
}

footer div p:first-child{
    /* font-size: 11px; */
    font-size: 11px;
    font-weight: 700;
}



footer .newsletter .email {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    margin-top: 10px;
    border: 2px solid #d8e5e6;
    box-shadow: 1px 5px 10px #758283;
    width: 120px;
    padding: 5px 0px;
}

footer .newsletter .email .email-p{
    font-size: 9px;
    font-weight: 400;
    color: #758283;
}

